html,
body,
main {
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;

  &.has-no-pointer-events {
    * {
      pointer-events: none !important;
    }
  }

  font-size: 16px;
}
