@font-face {
  font-family: 'GT Walsheim';
  src:
       url('~@/assets/fonts/GT-Walsheim-Pro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src:
       url('~@/assets/fonts/GT-Walsheim-Pro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src:
       url('~@/assets/fonts/Mulish-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src:truetype
       url('~@/assets/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src:
       url('~@/assets/fonts/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src:
       url('~@/assets/fonts/Mulish-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: regular;
  font-display: swap;
}


@font-face {
  font-family: 'Mulish';
  src:
       url('~@/assets/fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src:
       url('~@/assets/fonts/Mulish-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src:
       url('~@/assets/fonts/Mulish-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: regular;
  font-display: swap;
}